/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/* Theme */
body {
    background-color: #1f1f1f;
    color: #e0e0e0;
    position: relative;
}

.column-3 {
    padding: 10px;
}

a {
    color: rgb(0, 195, 255);
}

a:hover {
    color: rgb(98, 242, 255);
}

.img-container {

    padding: 20px;

}

img {
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 5px;
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.5);
}

/* glassmorphism.com */
.column-container {
    padding: 20px;
    border: 2px solid rgba( 255, 255, 255, 0.10 );
    border-radius: 10px;
    background-image: linear-gradient(135deg, rgba(0,0,0,0.1), rgba(80,0,0,0.1));
    backdrop-filter: linear-gradient(135deg, rgba(0,0,0,0.1), rgba(80,0,0,0.1));
    box-shadow: 0 8px 32px 0 rgba( 50, 0, 0, 0.37 );
    word-break: break-word;
}

@media screen and (max-width: 767px) {
    .column-container {
        background-image: linear-gradient(135deg, rgba(0,0,0,0.1), rgba(100,0,0,0.2));
        backdrop-filter: linear-gradient(135deg, rgba(0,0,0,0.1), rgba(100,0,0,0.2));
    }
}

.section {
    padding-top: 5%;
    padding-bottom: 5%;
}

.parallax-bg1 {
    background-attachment: fixed;
    background-position: center center;
    background-image: url("img/Opasna_eta_storona.jpg");
    background-size: cover;
    padding-top: 20vh;
    padding-bottom: 20vh;
}



.parallax-2 {
    background-color: #2f2f2f;
    color: whitesmoke;
}

#bg-image-intro {
    
    color: #1c1c1c;

}

.carousel {
    padding-bottom: 20px;
}

.carousel .jumbotron {
    color: #1f1f1f;
    background-image: url("paper_texture.png");
    background-repeat: repeat;
    box-shadow: 0 8px 32px 0 rgba( 0,0,0, 0.37 );
    font-family: 'Noto Serif', serif;
}


blockquote {
    font-family: 'Noto Serif', serif;
}

.carousel-inner {
    height: 60vh;
}

@media screen and (max-width: 767px) {
    .parallax-area {
        max-width: 768px;
    }

    #bg-image-intro {
        padding-top: 10%;
    }
    
    .carousel-inner {
        height: 100vh;
        font-size: 1.95vh;
    }
    
    .carousel .jumbotron {
        height: 100vh;
    }

}

iframe {
    width: 80vh;
    height: 45vh;
}

pre{
    color:white;
}

.btn-custom {
    background-color: #d63a49;
    color: whitesmoke;
}

.btn-custom:hover {
    background-color: #a82d39;
    color: whitesmoke;
}

/*
.header-text {
    color: #d63a49;
}

*/

.red-text {
    color: #d63a49;
}

h1, h2{
    color: #d63a49;
}

/* www.gradient-animator.com */


.card {
    color: whitesmoke;
    background-color: #d63a49;
    box-shadow: 0 8px 32px 0 rgba( 0,0,0, 0.37 );
}

.card-body {
    color: #1f1f1f;
    background-color: whitesmoke;
}

.nav-link.active {
    background: linear-gradient(217deg, #c00000, #d85300);
    background-size: 800% 800%;
    
    background-clip: border-box;

    /*
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    */

    color: white;

    -webkit-animation: SelectedText 4s ease infinite;
    -moz-animation: SelectedText 4s ease infinite;
    animation: SelectedText 4s ease infinite;
}

@-webkit-keyframes SelectedText {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@-moz-keyframes SelectedText {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@keyframes SelectedText {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}

/* embedresponsively.com */

.embed-container { 
    position: relative; 
    overflow: hidden; 
    max-width: 100%; 
} 

@media screen and (max-width: 767px) {
    .embed-container {
        height: 0;
        padding-bottom: 56.25%;
    }

    .embed-container iframe, .embed-container object, .embed-container embed { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-image: none;
    opacity: 1;
}

.carousel-control-prev:after{
    content: '<';
    font-size: 60px;
    color: #d63a49;
    opacity: 1;
}

.carousel-control-next:after {
    content: '>';
    font-size: 60px;
    color: #d63a49;
    opacity: 1;
}
.parallax-3 {
    background-attachment: fixed;
    background-position: center center;
    background-image: url("img/Defence_of_Leningrad_by_Aristarkh_Lentulov_\(1942\).jpg");
    background-size: cover;
}

.parallax-3 {
    color: #1c1c1c;
}