/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Theme */
body {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

.parallax-bg1 {
    background-attachment: fixed;
    background-image: url("img/Opasna_eta_storona.jpg");
    background-size: cover;
    height: 100%;
}

#parallax-1 {
    padding: 10%;
}

.parallax-2 {
    background-color: #2f2f2f;
    padding: 10%;
    color: whitesmoke;
}



#bg-image-intro {
    color: #1c1c1c;
}

@media screen and (max-width: 767px) {
    .parallax-area {
        max-width: 768px;
    }

    #bg-image-intro {
        padding-top: 10%;
    }

}


